<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges </title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>
   ./db.js
   <body>
      <div class="container">
         <h1>File Metadata Microservice</h1>
         <h3>Backend Challenges</h3>
         <p>Please Upload any file....</p>

         <div class="view">
            <h1 id="output"></h1>
      
         <form enctype="multipart/form-data" method="POST" action="views/fileanalyse">
          <input id="inputfield" type="file" name="files" class=""> <br>
          <input id="button" type="submit" name="submit" value=" Upload it" class="upl">
         </form>
      </div>
      </div>
   </body>

</html>
